---
import { Image } from "astro:assets";
import type { VideoYoutube } from "../types"

export interface Props {
  data: VideoYoutube
  loading?: "eager" | "lazy" | null | undefined
}

const { data, loading } = Astro.props
const { link = "", title } = data

const idVideo = link.replace("https://youtu.be/", "") 

let originalWidth = 300*2;
let newHeight = Math.round((originalWidth * 9) / 16);
---
<a href={link} target="_blank" class="mb-4 group-hover:opacity-60 hover:!opacity-100 transition-opacity">
  <Image
    class="aspect-video border border-slate-300 rounded-xl object-cover"
    src={`https://img.youtube.com/vi/${idVideo}/hqdefault.jpg`}
    width={originalWidth}
    height={newHeight}
    loading={loading}
    decoding="sync"
    alt="tumbvideo"
  />
  <div class="mt-3 text-sm font-bold line-clamp-2">
    {title}
  </div>
  <div class="text-left opacity-70 line-clamp-2">
  </div>
</a>

