---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export interface Props {
  href?: string;
  loading?: "eager" | "lazy" | null | undefined;
  frontmatter: CollectionEntry<"blog">["data"];
  className?: string
}
const { href, frontmatter, loading, className = "" } = Astro.props
const { title, pubDate, modDate, heroImage, description, tags, readingTime } = frontmatter;
---
<a href={href} class={`mb-4 group-hover:opacity-60 hover:!opacity-100 transition-opacity ${className}`}>
  <Image
    class="aspect-video border border-slate-300 rounded-xl object-cover"
    src={heroImage ? heroImage : '/images/contents/197.png'}
    width={560}
    height={315}
    loading={loading}
    decoding="sync"
    alt="tumbnail"
  />
  <div class="mt-2 text-md font-bold">
    {title}
  </div>
  <div class="text-left opacity-70 text-sm mb-2 line-clamp-3">
    {description}
  </div>
  <div class="flex justify-between">
    {
      tags.map (t => (
        <span class="p-2 rounded-md text-xs font-bold">{t}</span>
      ))
    }
  </div>
</a>
