---
import { Image } from "astro:assets";
import type { Video } from "../types"

export interface Props {
  data: Video
}

const { data } = Astro.props
const { link, title } = data

const idVideo = link.replace("https://youtu.be/", "") 

let originalWidth = 300*2;
let newHeight = Math.round((originalWidth * 9) / 16);
---
<a href={link} target="_blank" class="mb-4">
  <Image
    class="aspect-video border border-zinc-700 rounded-xl object-cover"
    src={`https://img.youtube.com/vi/${idVideo}/hqdefault.jpg`}
    width={originalWidth}
    height={newHeight}
    loading="eager"
    decoding="sync"
    alt="tumbvideo"
  />
  <div class="mt-3 text-sm font-bold line-clamp-2">
    {title}
  </div>
  <div class="text-left opacity-70 line-clamp-2">
  </div>
</a>

