---
import { VanishingStripes } from "./Backgrounds/VanishingStripes";
import { STOREPAGE_URL } from "../config";
import { Image } from "astro:assets";
import { RainbowVortex } from "./Backgrounds/RainbowVortex";
import { BermudaSquare } from "./Backgrounds/BermudaSquare";
import { ArrowIcon } from "./Icons/ArrowIcon";

import CNC from "../../public/images/products/CNC.webp";
import precalentadora1 from "../../public/images/products/precalentadora1.webp";
import precalentadora2 from "../../public/images/products/precalentadora2.webp";
import lcdzte1 from "../../public/images/products/P4.webp"
import lcdzte2 from "../../public/images/products/P3.webp"
import lcdlenovo1 from "../../public/images/products/P5.webp"
import lcdlenovo2 from "../../public/images/products/P6.webp"
import lcdsurface1 from "../../public/images/products/P1.webp"
import lcdsurface2 from "../../public/images/products/P2.webp"
---
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="w-full relative">
        <div class="w-full h-[660px] md:h-80">
          <VanishingStripes className="object-cover h-[864px]" />
        </div>
        <div class="absolute z-10 top-0 w-full">
          <section class="flex items-center md:items-start md:justify-between flex-col md:flex-row mx-20 md:ml-24 md:mr-14">
            <div class="md:mt-20 mt-10">
              <header>
                <h2 class="font-exo font-bold text-white text-center md:text-left text-5xl">
                  <span class="block">Precalentadora</span>
                  <span>D-Heater Pro V2</span>
                </h2>
              </header>
              <section class="mt-6 flex justify-center md:justify-start">
                <div class="items-center fade-up inline-flex flex-wrap gap-4">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={
                    STOREPAGE_URL + "/products/precalentadora-d-heater-v2"
                    }
                    class="btn bg-black text-zinc-300"
                  >
                    <span class="text-xl md:text-base font-bold">
                      Comprar ahora
                    </span>
                  </a>
                </div>
              </section>
            </div>
            <section class="flex">
              <Image
              src={precalentadora1}
              class="h-96 w-28 md:h-80 md:w-24"
              loading={"eager"}
              width={precalentadora1.width}
              alt="precalentadora"
            />
              <Image
              src={precalentadora2}
              class="h-96 w-28 md:h-80 md:w-24"
              width={precalentadora1.width}
              loading={"eager"}
              alt="precalentadora"
            />
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="w-full relative">
        <div class="w-full h-[660px] md:h-80">
          <Image
          alt="background"
          src="/images/backgrounds/parabolic-ellipse.png"
          class="object-cover object-top h-[864px]"
          width={864}
          height={600}
          loading={"eager"}
        />
        </div>
        <div class="absolute h-full z-20 top-0 w-full">
          <section class="grid h-full grid-cols-1 md:grid-cols-3 mx-5 md:ml-24 md:mr-0">
            <div class="col-span-1 md:col-span-2 md:mt-20 mt-10">
              <header>
                <h2 class="font-exo font-bold text-white text-center md:text-left text-8xl">
                  <span class="block">CNC</span>
                </h2>
              </header>
              <section class="mt-6 flex justify-center md:justify-start">
                <div class="items-center fade-up inline-flex flex-wrap gap-4">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={
                    STOREPAGE_URL + "/products/cnc"
                    }
                    class="btn bg-black text-zinc-300"
                  >
                    <span class="text-xl md:text-base font-bold">
                      Comprar ahora
                    </span>
                  </a>
                </div>
              </section>
            </div>
            <section class="relative z-20 mt-20">
              <div class="relative w-full h-52 flex justify-center items-center">
                <div class="absolute mb-14 md:mb-6">
                  <Image
                  src={CNC}
                  class="h-80 w-80 md:h-64 z-30 aspect-square"
                  alt="cnc"
                  widths={[256, 320, CNC.width]}
                  loading={"eager"}
                />
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="w-full relative">
        <div class="w-full h-[660px] md:h-80">
          <RainbowVortex className="h-[660px] w-[1300px] object-cover object-top" />
        </div>
        <div class="absolute h-full z-20 top-0 w-full">
          <section class="grid h-full grid-cols-1 md:grid-cols-3 mx-5 md:ml-24 md:mr-0">
            <div class="col-span-1 md:col-span-2 md:mt-20 mt-10">
              <header>
                <h2 class="font-exo font-bold text-white text-center md:text-left text-5xl">
                  <span class="block">LCD PARA</span>
                  <span class="block">ZTE BLADE V4</span>
                </h2>
              </header>
              <section class="mt-6 flex justify-center md:justify-start">
                <div class="items-center fade-up inline-flex flex-wrap gap-4">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={
                    STOREPAGE_URL + "/products/lcd-para-zte-blade-v40-9045"
                    }
                    class="btn bg-black text-zinc-300"
                  >
                    <span class="text-xl md:text-base font-bold">
                      Comprar ahora
                    </span>
                  </a>
                </div>
              </section>
            </div>
            <section class="relative z-20 mt-20">
              <div class="relative w-full h-52 flex justify-center items-center">
                <div class="absolute ml-24 md:ml-16 mb-14 md:mb-6">
                  <Image
                  src={lcdzte1}
                  class="h-80 w-[164px] md:h-52 md:w-[106px] z-30 brightness-0"
                  alt="lcd para zte blade v4"
                  width={lcdzte1.width}
                  loading={"eager"}
                />
                </div>
                <div class="absolute mr-28 md:mr-16">
                  <Image
                  src={lcdzte2}
                  class="h-80 w-[164px] md:h-52 md:w-[106px] z-40"
                  alt="lcd para zte blade v4"
                  width={lcdzte2.width}
                  loading={"eager"}
                />
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="w-full relative h-[660px] md:h-80">
        <div class="w-full">
          <BermudaSquare className="object-cover object-center h-[864px]" />
        </div>
        <div class="absolute h-full z-20 top-0 w-full">
          <section class="grid h-full grid-cols-1 md:grid-cols-3 mx-5 md:ml-24 md:mr-7">
            <div class="col-span-1 md:col-span-2 md:mt-20 mt-10">
              <header>
                <h2 class="font-exo font-bold text-white text-center md:text-left text-5xl">
                  <span class="block">Touch Microsoft</span>
                  <span>Surface Pro 3</span>
                </h2>
              </header>
              <section class="mt-6 flex justify-center md:justify-start">
                <div class="items-center fade-up inline-flex flex-wrap gap-4">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={
                    STOREPAGE_URL +
                      "/products/touch-para-microsoft-surface-pro-3-1631"
                    }
                    class="btn bg-black text-zinc-300"
                  >
                    <span class="text-xl md:text-base font-bold">
                      Comprar ahora
                    </span>
                  </a>
                </div>
              </section>
            </div>
            <section class="relative z-20 mt-20">
              <div class="relative w-full h-52 flex justify-center items-center">
                <div class="absolute ml-24 md:ml-16 mb-14 md:mb-6">
                  <Image
                  src={lcdsurface1}
                  class="h-80 w-64 md:h-52 z-30"
                  alt="touchsurface3pro"
                  width={lcdsurface1.width}
                  loading={"eager"}
                />
                </div>
                <div class="absolute mr-28 md:mr-16">
                  <Image
                  src={lcdsurface2}
                  class="h-80 w-64 md:h-52 z-40"
                  alt="touchsurface3pro"
                  width={lcdsurface2.width}
                  loading={"eager"}
                />
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="w-full relative">
        <div class="w-full h-[660px] md:h-80">
          <Image
          alt="background"
          src="/images/backgrounds/quantum-gradient.png"
          class="object-cover object-top h-[900px]"
          width={864}
          height={900}
          loading={"eager"}
          />
        </div>
        <div class="absolute h-full z-20 top-0 w-full">
          <section class="grid h-full grid-cols-1 md:grid-cols-3 mx-5 md:ml-24 md:mr-7">
            <div class="col-span-1 md:col-span-2 md:mt-20 mt-10">
              <header>
                <h2 class="font-exo font-bold text-white text-center md:text-left text-5xl">
                  <span class="block">LCD LENOVO</span>
                  <span>TAB M10</span>
                </h2>
              </header>
              <section class="mt-6 flex justify-center md:justify-start">
                <div class="items-center fade-up inline-flex flex-wrap gap-4">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={
                    STOREPAGE_URL + "/products/lcd-para-lenovo-tab-m10"
                    }
                    class="btn bg-black text-zinc-300"
                    >
                    <span class="text-xl md:text-base font-bold">
                      Comprar ahora
                    </span>
                  </a>
                </div>
              </section>
            </div>
            <section class="relative z-20 mt-20">
              <div class="relative w-full h-52 flex justify-center items-center">
                <div class="absolute ml-24 md:ml-16 mb-14 md:mb-6 brightness-75 saturate-50 contrast-200">
                  <Image
                  src={lcdlenovo2}
                  class="h-80 w-[218px] md:h-56"
                  alt="touchsurface3pro"
                  width={lcdlenovo2.width}
                  loading={"eager"}
                  />
                </div>
                <div class="absolute mr-28 md:mr-16 brightness-125 contrast-200 saturate-50">
                  <Image
                  src={lcdlenovo1}
                  class="h-80 w-[223px] md:h-56 md:w-[156px]"
                  alt="touchsurface3pro"
                  width={lcdlenovo1.width}
                  loading={"eager"}
                  />
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 z-10 top-1/2">
    <button
      class="absolute z-20 left-3"
      id="prev-slide-button"
      >
      <div class="w-9 p-1 rounded-2xl rotate-180 stroke-zinc-100 bg-zinc-900">
        <ArrowIcon />
      </div>
    </button>
    <button
      class="absolute z-20 right-3"
      id="next-slide-button"
      >
      <div class="w-9 p-1 rounded-2xl stroke-zinc-100 bg-zinc-900">
        <ArrowIcon />
      </div>
    </button>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
new Swiper('.swiper', {
  loop: true,
  autoplay: true,
  effect: 'fade',

  pagination: {
    el: '.swiper-pagination',
  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
})

const swiper = document.querySelector('.swiper').swiper;

const nextSlideButton = document.getElementById('next-slide-button');
nextSlideButton.addEventListener('click', function () {
  swiper.slideNext();
});
const prevSlideButton = document.getElementById('prev-slide-button');
prevSlideButton.addEventListener('click', function () {
  swiper.slidePrev();
});
</script>
