---
import Card from '../components/Card.astro';
import Pagination from '../components/Pagination.astro';
import type { CollectionEntry } from 'astro:content';
import type { Video } from '../types';

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: (CollectionEntry<"blog"> | Video)[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---
<header class="flex justify-between">
  <a href="/contenido/videos" class="bg-[#00538F] font-bold pt-2 px-4 rounded-xl">Ver videos</a>
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    prevUrl={`/contenido/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/contenido/${currentPage + 1}/`}
  />
</header>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6 group">
  {paginatedPosts.map(data => (
    <Card href={`/contenido/articulos/${data.slug}`} frontmatter={data.data} />
  ))}
</section>
<Pagination
  currentPage={currentPage}
  totalPages={totalPages}
  prevUrl={`/contenido/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
  nextUrl={`/contenido/${currentPage + 1}/`}
/>
