---
import Card from '../components/Card.astro';
import Pagination from '../components/Pagination.astro';
import Button from '../components/Button.astro';
import type { CollectionEntry } from 'astro:content';
import type { Video } from '../types';

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---
<header class="flex justify-between">
  <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex flex-wrap gap-4">
    <Button href={"/contenido/videos"} className="bg-blue-900">
      Ver videos
    </Button>
  </div>
  <Pagination
    currentPage={currentPage}
    totalPages={totalPages}
    prevUrl={`/contenido/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
    nextUrl={`/contenido/${currentPage + 1}`}
  />
</header>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6 group">
  {paginatedPosts.map(({slug, data})  => (
    <Card href={`/contenido/articulos/${slug}`} frontmatter={data} />
  ))}
</section>
<Pagination
  currentPage={currentPage}
  totalPages={totalPages}
  prevUrl={`/contenido/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
  nextUrl={`/contenido/${currentPage + 1}`}
/>
