---
import type { CollectionEntry } from "astro:content";
import Card from "../components/Card.astro";
import Pagination from "../components/Pagination.astro"
import Button from "../components/Button.astro";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts} = Astro.props;
---
<header class="flex justify-between">
  <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex flex-wrap gap-4">
    <Button href={"/contenido/videos"} className="bg-blue-900">
      Ver videos 
    </Button>
  </div>
  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/contenido/articulos/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
    nextUrl={`/contenido/articulos/${currentPage + 1}`}
  />
</header>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6 group">
  {paginatedPosts.map((data, index) => (
    <Card href={`/contenido/articulos/${data.slug}`} frontmatter={data.data} loading={index < 6 ? "eager" : "lazy"} />
  ))}
</section>
<Pagination
  {currentPage}
  {totalPages}
  prevUrl={`/contenido/articulos/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
  nextUrl={`/contenido/articulos/${currentPage + 1}`}
/>
