---
import type { CollectionEntry } from "astro:content";
import ContentPosts from './ContentPost.astro'
import Card from "../components/Card.astro";
import Pagination from "../components/Pagination.astro"

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts} = Astro.props;
---
<ContentPosts>
  <header class="flex justify-between">
    <a href="/contenido/videos" class="bg-[#00538F] font-bold pt-2 px-4 rounded-xl">Ver Videos</a>
    <Pagination
      {currentPage}
      {totalPages}
      prevUrl={`/contenido/articulos/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
      nextUrl={`/contenido/articulos/${currentPage + 1}/`}
    />
  </header>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 my-6">
    {paginatedPosts.map(data => (
      <Card href={`/contenido/articulos/${data.slug}`} frontmatter={data.data} />
    ))}
  </section>
  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/contenido/articulos/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/contenido/articulos/${currentPage + 1}/`}
  />
</ContentPosts>
