---
import CardVideos from '../components/CardVideos.astro';
import Pagination from '../components/Pagination.astro';
import type { Video } from "../types"

export interface Prosp {
  currentPage: number;
  totalPages: number;
}

const { currentPage, totalPages, paginatedPosts } = Astro.props
---
<header class="flex justify-between">
  <a href="/contenido/articulos" class="bg-[#00538F] font-bold pt-2 px-4 rounded-xl">
    Ver articulos
  </a>
  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/contenido/videos/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/contenido/videos/${currentPage + 1}/`}
  />
</header>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6">
  {paginatedPosts.map((video: Video) => (
    <CardVideos data={video}/>
  ))}
</section>
<Pagination
  {currentPage}
  {totalPages}
  prevUrl={`/contenido/videos/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
  nextUrl={`/contenido/videos/${currentPage + 1}/`}
/>
