---
import Button from '../components/Button.astro';
import CardVideos from '../components/CardVideos.astro';
import Pagination from '../components/Pagination.astro';
import type { VideoYoutube } from "../types"

export interface Prosp {
  currentPage: number;
  totalPages: number;
}

const { currentPage, totalPages, paginatedPosts } = Astro.props
---
<header class="flex justify-between">
  <div style="--animation-delay: 0.6s" class="items-center fade-up inline-flex flex-wrap gap-4">
    <Button href={"/contenido/articulos"} className="bg-blue-900">
      Ver articulos
    </Button>
  </div>
  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/contenido/videos/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
    nextUrl={`/contenido/videos/${currentPage + 1}`}
  />
</header>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6 group">
  {paginatedPosts.map((video: VideoYoutube, index: number) => (
    <CardVideos data={video} loading={index < 9 ? "eager" : "lazy"}/>
  ))}
</section>
<Pagination
  {currentPage}
  {totalPages}
  prevUrl={`/contenido/videos/${currentPage - 1 !== 1 ? (currentPage - 1) : ""}`}
  nextUrl={`/contenido/videos/${currentPage + 1}`}
/>
